---
layout: default
title: Lorenz Hübschle-Schneider
---

<div id="intro">
    <div class="container">
        <div class="row" id="name">
            <!-- TODO maybe add an image to the left of the name -->
            <div class="col-lg-offset-3 col-lg-6">
                <h2>Lorenz Hübschle-Schneider</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1 no-mobile">
                <h5>ABOUT</h5>
            </div>
            <div class="col-lg-6">
                I'm a (final year) computer science student with strong interest in algorithm engineering.
                Currently I'm studying at the University of Leicester in the MSc programme <em>"Advanced Computational Methods"</em>, which I am due to finish later this year.
                Apart from my studies, I contribute to some great open source projects like Glowing Bear.
            </div>
        </div>
    </div>
</div>

<div class="container desc gapafter">
    {% for post in site.posts %}
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            {% if forloop.first %}
                <h4>POSTS</h4>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <a href="{{ post.url }}">{{ post.title }}</a> <br/>
            <em><small>Posted {{ post.date | date_to_string }}</small></em>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container bluewrap">
    <div class="row extra-space">
        <div class="col-lg-2 col-lg-offset-1">
            <a href="/projects.html"><h5>PROJECTS</h5></a>
        </div>
        <div class="col-lg-6">
            <p>
            These are a few projects I've worked on recently. For older projects, please refer to the <a href="/projects.html">full project list</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <p>
            <t><a href="https://github.com/cormier/glowing-bear">Glowing Bear</a></t>
            <br />
            Glowing Bear is a modern IRC client, or, more specifically, a browser/app frontend. It is implemented as a WeeChat relay client using WebSockets, and works great both in desktop and mobile environments.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <p>
            <t><a href="https://github.com/lorenzhs/instavpn">instavpn</a></t>
            <br />
            Ever needed a VPN right now? Using <a href="https://digitalocean.com">DigitalOcean</a> and <a href="https://github.com/apenwarr/sshuttle">sshuttle</a>, instavpn provides you with a dirt cheap working VPN within sixty seconds. It'll even tear down the host once you're done, so you only pay for what you use.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <p>
            <t><a href="https://github.com/lorenzhs/hubot-tell">hubot-tell</a></t>
            <br />
            Hubot-tell is a hubot plugin for relaying messages to users that are currently not present.
            </p>
        </div>
    </div>
</div>

